@model IEnumerable<QuizMeApp.Models.Evaluation>

@{
    ViewBag.Title = "Index";
}

<h2>Les evaluations</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Auteur
            @*@Html.DisplayNameFor(model => model.Enseignant.nom)*@
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date_creation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.scoreSuccess)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Enseignant.nom) @Html.DisplayFor(modelItem => item.Enseignant.prenom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date_creation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.scoreSuccess)
        </td>
        <td>
            
            @Html.ActionLink("Passer Evaluation", "LancerEvaluation", "PasserEvaluation", routeValues: new { evaluationId = item.Id }, htmlAttributes: null)
        </td>
    </tr>
}

</table>
