@model QuizMeApp.Models.Reponse

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Reponse</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Apprenant.nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apprenant.nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Question.enonce)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Question.enonce)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.choix)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.choix)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateReponse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateReponse)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
