@model QuizMeApp.Models.Question

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Question</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Evaluation.date_creation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Evaluation.date_creation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.enonce)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.enonce)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.point)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.point)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.niveauDifficulte)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.niveauDifficulte)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.explication)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.explication)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
