@model IEnumerable<QuizMeApp.Models.Question>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Evaluation
            @*@Html.DisplayNameFor(model => model.Evaluation.date_creation)*@
        </th>
        <th>
            @Html.DisplayNameFor(model => model.enonce)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.point)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.niveauDifficulte)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.explication)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Evaluation.date_creation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.enonce)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.point)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.niveauDifficulte)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.explication)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id }) |
            @Html.ActionLink("AjouterOption", "Create", "Options", routeValues: new { id = item.Id }, htmlAttributes: null)

        </td>       
    </tr>
}

</table>
